NGI_Battery_simulator_adapter-backups/
fp-info-cache
fp-lib-table
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_pcb
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_prl
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_pro
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_sch
production/backups/NGI_Battery_simulator_adapter_2025-03-17_14-27-53.zip
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_sch
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_sch
~NGI_Battery_simulator_adapter.kicad_pcb.lck
/NGI_Battery_simulator_adapter-backups
