NGI_Battery_simulator_adapter-backups/
fp-info-cache
fp-lib-table
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_pcb
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_prl
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_pro
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_sch
production/backups/NGI_Battery_simulator_adapter_2025-03-17_14-27-53.zip
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_sch
NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_223733/NGI_Battery_simulator_adapter-backups/NGI_Battery_simulator_adapter-2024-01-05_220046/NGI_Battery_simulator_adapter.kicad_sch
~NGI_Battery_simulator_adapter.kicad_pcb.lck
/NGI_Battery_simulator_adapter-backups
*.FCBak
3D_Enclosure/Assembly_v4.FCStd.15a2c265-b941-4df1-a699-2b3369e401f5
3D_Enclosure/Assembly_v4.FCStd.210c483f-de55-4552-8893-c718e82f66b6
3D_Enclosure/Assembly_v4.FCStd.295d7cc8-5ded-43f9-b7da-b608debfb454
3D_Enclosure/Assembly_v4.FCStd.86f3a957-c395-4017-9ada-51325a0f8c37
3D_Enclosure/Assembly_v4.FCStd.aa1e2051-826d-4991-888c-a8f6d4221205
3D_Enclosure/Assembly_v4.FCStd.e7e2c1d4-d292-4e07-9bb9-bddc1b01be6a
3D_Enclosure/version.bin
